[Unit]
Description=Sets Jetson performance parameters 

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=true
# set jetson performance parameters
ExecStartPre=/sbin/sysctl -w net.core.rmem_max=33554432
ExecStartPre=/sbin/sysctl -w net.core.wmem_max=33554432
ExecStartPre=/sbin/sysctl -w net.core.rmem_default=33554432
ExecStartPre=/sbin/sysctl -w net.core.wmem_default=33554432
ExecStartPre=/usr/bin/jetson_clocks
# set receive buffer
ExecStart=/sbin/ethtool -G eth5 rx 4096

[Install]
WantedBy=multi-user.target


